body {
    background-color: #EEEEEE;
}

footer {
    padding: 0 10%;
    background-color: #fff;
    height: 100%;
}

/* base.html  */
.header {
    background-color: #1C3879;
}

.header-title {
    color: #FFF4CF;
}

.footer-title {
    display: inline;
}

.footer-text-icon {
    color: #1C3879;
}

.social-media {
    text-align: right;
    text-decoration: none;
}

.copy-right {
    text-align: center;
    padding-bottom: 1.5%;
    margin-bottom: 0;
}

/* index.html */
.about-us {
    width: 80%;
    background-color: #fff;
    padding: 3%;
}

/* word.html  */
.word-img {
    width: 200px;
    border: white solid 10px;
    border-radius: 50%;
}

.word-definitions {
    width: 80%;
    margin: auto;
    background-color: #fff;
}