{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
<section class="container my-5 about-us">
    <h1 class="about-us-title">Who are we?</h1>
    <hr>
    <p class="about-us-p">Hello, I am viral rupani from GJ, India. an IT student. Pocket Dictionary is one of the
        projects I made during
        my learning. This project uses Python(Flask) and <a href="https://owlbot.info/">Owlbot Dictionary API</a>. Feel
        free to check my other projects
        <a href="https://viralrupani.github.io/portfolio-2.0/" target="_blank">here</a>
    </p>
</section>
{% endblock body %}