{% extends 'base.html' %}

{% block title %} {{ word['word'] }} {% endblock title %}

{% block body %}
<div class="container-fluid word-container">
    <div class="row py-5">
        {% if word['definitions'][0]['image_url'] != None %}
        <div class="col-12 mb-3 text-center">
            <img class="word-img" src="{{word['definitions'][0]['image_url']}}" alt="image not found">
        </div>
        {% endif %}
        <div class="col-12 word-definitions">
            <span class="h3">
                {% if word['definitions'][0]['emoji'] != None %}
                {{ word['definitions'][0]['emoji'] }}
                {% endif %}
            </span>
            <span class="h1">{{ word['word'] }}</span> 
                {% if word['pronunciation'] != None %}[ <em class="h3">{{ word['pronunciation'] }} </em> ] {% endif %}
            <hr>
            <p class="h5"><b>{{ word['definitions'][0]['type'] }}</b></p>
            <p><em><u>Definition:</u></em> {{ word['definitions'][0]['definition'] }}</p>
            {% if word['definitions'][0]['example'] != None %}
            <em>
                <p><em><u>Example:</u></em> {{ word['definitions'][0]['example'] }}</p>
            </em>
            {% endif %}
            <p></p>
        </div>
    </div>
</div>
{% endblock body %}